<%= render Dashboard::Layout.new(active: :dashboard) do %>
  <div class="max-w-sm py-10">
    <%= render Ui::Links::Secondary.new(text: "Tasks", icon: "arrow-left", url: dashboard_index_path) %>

    <h1 class="flex items-center gap-3 mt-8 text-gray-800 text-3xl font-medium leading-4">
      <%= @task.title %>
      <%= render Ui::Icon.new(icon: "list-check", css: "h-6 w-6 text-indigo-600") %>
    </h1>

    <%= render "form", url: dashboard_task_path, method: :put %>
  </div>
<% end %>