<%= render Dashboard::Layout.new(active: :dashboard) do %>
  <div class="max-w-xs py-10">
    <%= render Ui::Buttons::Back.new(text: "Tasks", url: dashboard_index_path) %>

    <h1 class="flex items-center gap-3 my-10 text-gray-800 text-3xl font-medium leading-4">
      New <%= @stage.capitalize %> Task
      <%= render Ui::Icon.new(icon: "list-check", css: "h-6 w-6 text-indigo-600") %>
    </h1>

    <%= render "form", url: dashboard_tasks_path, method: :post %>
  </div>
<% end %>