<%= render Dashboard::Layout.new(active: :dashboard) do %>
  <div class="max-w-3xl mx-auto py-20">
    <div class="flex justify-between items-center">
      <%= render Ui::Links::Secondary.new(text: "Tasks", icon: "arrow_left", icon_css: "w-4 h-4", url: dashboard_index_path) %>

      <h1 class="text-gray-800 text-2xl font-medium">
        <%= @task.title %>
      </h1>

      <div class="flex items-center gap-3">
        <%= render Ui::Icons::Priority.new(priority: @task.priority, icon_css: "w-5 h-5") %>

        <% if @task.due_at? %>
          <%= render Ui::Icons::DueDate.new(due_date: @task.due_at, css: "!text-sm", icon_css: "h-5 w-5") %>
        <% end %>

        <% if @task.pull_request_link? %>
          <%= render @task.pull_request, pull_request: @task.pull_request %>
        <% end %>

        <% if @task.external_task_tracker_link? %>
          <%= render @task.external_task_tracker, external_task_tracker: @task.external_task_tracker %>
        <% end %>

        <%= render Ui::Links::Secondary.new(icon: "pencil", url: edit_dashboard_task_path(@task), icon_css: "w-5 h-5") %>
      </div>
    </div>

    <% if @task.notes.present? %>
      <div class="w-full my-10 py-10 px-5 border border-indigo-100 rounded-lg">
        <%= @task.notes %>
      </div>
    <% end %>

    <div class="flex items-center gap-3">
      <div class="w-full">
        <%= render Ui::Buttons::Action.new(text: "Delete", url: dashboard_task_path(@task), method: :delete, data: { turbo: false }, color: "red", css: "w-full py-2") %>
      </div>
      <div class="w-full">
        <%= render Ui::Buttons::Action.new(text: "Complete", url: tasks_complete_path(@task), method: :put, data: { turbo: false }, color: "indigo", css: "w-full py-2") %>
      </div>
    </div>
  </div>
<% end %>