<%= turbo_frame_tag task, data: { sortable_url: tasks_position_path(task) }, class: "p-4 rounded-lg shadow cursor-grab active:cursor-grabbing" do %>
  <div class="flex justify-between items-center pb-2">
    <h3 class="text-gray-800 font-semibold"><%= task.title.truncate(30) %></h3>
    <%= render Ui::Links::Plain.new(url: dashboard_task_path(task), icon: "arrow-right") %>
  </div>

  <div class="flex items-center gap-2">
    <%= render Ui::Icons::Priority.new(priority: task.priority) %>

    <% if task.due_at? %>
      <%= render Ui::Icons::DueDate.new(due_date: task.due_at, icon_css: "h-4 w-4") %>
    <% end %>

    <% if task.pull_request_link? %>
      <%= render task.pull_request, pull_request: task.pull_request %>
    <% end %>

    <% if task.external_task_tracker_link? %>
      <%= render task.external_task_tracker, external_task_tracker: task.external_task_tracker %>
    <% end %>
  </div>
<% end %>