<%= turbo_frame_tag task, data: { sortable_url: tasks_position_path(task) }, class: "p-4 rounded-lg shadow cursor-grab w-full active:cursor-grabbing" do %>
  <div class="flex justify-between items-center pb-2">
    <h3 class="text-gray-800 text-sm font-semibold"><%= task.title.truncate(65) %></h3>
    <%= render UI::Links::Plain.new(url: dashboard_task_path(task), icon: "arrow_right", icon_css: "w-4 h-4") %>
  </div>

  <% if task.notes.present? %>
    <div class="pb-3 text-xs text-gray-500 break-words">
      <%= task.notes.body.to_plain_text[0...80] %>
      <% if task.notes.body.to_plain_text.length >= 80 %>
        ...
      <% end %>
    </div>
  <% end %>

  <div class="flex flex-wrap items-center gap-1">
    <%= render UI::Icons::Priority.new(priority: task.priority, icon_css: "h-4 w-4") %>

    <% if task.due_at? %>
      <%= render UI::Icons::DueDate.new(due_date: task.due_at, icon_css: "h-4 w-4") %>
    <% end %>

    <% if task.pull_request_link? %>
      <%= render task.pull_request, pull_request: task.pull_request %>
    <% end %>

    <% if task.ticket_link? %>
      <%= render task.ticket, ticket: task.ticket %>
    <% end %>
  </div>
<% end %>