<div data-sortable-url="<%= stages_position_path(stage) %>" class="max-w-sm p-4">
  <div class="flex items-center mb-5">
    <div class="flex items-center gap-3">
      <h2 class="text-gray-800 text-center font-semibold"><%= stage.status.capitalize %></h2>

      <%= turbo_frame_tag "#{stage.status}_counter", class: "py-0.5 px-2 bg-#{color}-100 text-#{color}-900 text-sm font-semibold rounded-lg" do %>
        <%= stage.tasks.for_user.incompleted.count %>
      <% end %>
    </div>

    <div class="ml-auto">
      <%= render Ui::Links::Round.new(url: new_dashboard_task_path(stage: stage.status), icon: "plus", icon_css: "h-4 w-4", turbo_frame: "modal") %>
    </div>
  </div>

  <div data-controller="sortable" data-sortable-stage-id="<%= stage.id %>" data-sortable-group-value="tasks" class="flex flex-col gap-4">
    <%= render Dashboard::TaskCard.with_collection(stage.tasks.for_user.incompleted.rank(:row_order)) %>
  </div>
</div>