<div class="p-4 rounded-lg shadow">
  <div class="flex justify-between items-center pb-3">
    <h3 class="text-gray-800 font-semibold"><%= task.title.truncate(30) %></h3>

    <div class="flex items-center gap-2">
      <%= render Ui::Icons::Priority.new(priority: task.priority) %>

      <%= render Ui::Buttons::Show.new(url: dashboard_task_path(task), icon: "arrow-right") %>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3">
      <% if task.pull_request_link? %>
        <%= render task.pull_request, pull_request: task.pull_request %>
      <% end %>

      <% if task.external_task_tracker_link? %>
        <%= render task.external_task_tracker, external_task_tracker: task.external_task_tracker %>
      <% end %>
    </div>

    <div class="flex items-center gap-3">
      <%= render Ui::Buttons::Complete.new(url: dashboard_task_path(task)) %>
      <%= render Ui::Buttons::Delete.new(url: dashboard_task_path(task)) %>
    </div>
  </div>
</div>
