<div class="max-w-sm p-4">
  <div class="flex items-center mb-3">
    <div class="flex items-center gap-3">
      <%= render Ui::Icon.new(icon: icon, css: "text-#{color}-400") %>

      <h2 class="text-gray-800 text-center font-semibold"><%= title %></h2>

      <%= turbo_frame_tag "#{title.downcase}_counter", class: "py-0.5 px-2 bg-#{color}-100 text-#{color}-900 font-semibold rounded-lg" do %>
        <%= tasks.count %>
      <% end %>
    </div>

    <div class="ml-auto">
      <%= render Ui::Links::Round.new(url: url, icon: "plus") %>
    </div>
  </div>

  <div class="flex flex-col gap-4">
    <% tasks.each do |task| %>
      <%= render Dashboard::TaskCard.new(task: task) %>
    <% end %>
  </div>
</div>